.head{
    padding: 10px;
    background-color: blueviolet;
}
img{
    width: 50px;
}

.selectedPage{
    background-color: chartreuse;
}
.buttonList{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.buttonList button{
    margin-left: 10px;
    width: 30px;
}