.dia{
  color: blueviolet;
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItem{
  padding: 10px;
  

}

.dialogsItem img{
  width: 20px;
  height: 20px;
  border-radius: 30%;

}
.dialogsItem .active{
  font-weight: bold;
}

.dialog a{
  text-decoration: none;
  color: #fff;
}

.messages{
  padding: 10px;
  color: #fff;

}
.message{

}